@font-face {
    font-family: "TechnoRaceItalic";
    src: url("/fonts/1.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

h2 {
    font-weight: 600 !important;
}

/* underline */
h1 span span {
    color: transparent;
    user-select: none;
}

/* glass */
.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* button */
.btn {
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    max-width: 200px;
    padding: 10px 20px !important;
    position: relative;
    display: inline-block;
    background-color: #3b82f6;
    box-shadow: 0px 5px 0px 0px #2563eb; 
    cursor: pointer;
}

.btn:hover {
    background-color: #6366f1;
    box-shadow: 0px 5px 0px 0px #4f46e5; 
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px #2563eb; 
}

/* circle button */
#circle-btn {
    background-color: rgba(255, 255, 255, 0.214);
    box-shadow: 0 0 0;
    border-radius: 50px;
    transform: translate(0);
}

/* glow */
.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.glowing-box {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0 0 200px 50px rgba(59, 130, 246, 0.8),
                0 0 400px 80px rgba(59, 130, 246, 0.6); 
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: box-shadow 0.1s ease-in-out;
}

/* laptop */
.laptop img {
    width: 100%;
    height: auto;
}

#slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72%;
    height: 72%;
    text-align: center;
    color: white;
}

.slide-text {
    font-size: 1rem;
}
